@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.glitter-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.glitter-word {
  color: rgb(212 212 212);
  /* neutral-300 */
  display: inline-block;
  animation: highlight 2.5s linear infinite;
}

@keyframes highlight {
  0% {
    color: rgb(212 212 212);
  }

  20% {
    color: rgb(0 0 0);
    /* black */
  }

  40% {
    color: rgb(212 212 212);
  }

  100% {
    color: rgb(212 212 212);
  }
}